.player-list tr:nth-child(odd) {
    background-color:rgba(0, 0, 0, 0.1)
}

.player-list td:first-child {
    border-top: 1px solid rgb(32, 80, 83);
}

// .player-list tr:last-child {
//     border-bottom: 1px solid rgb(46, 110, 115);
// }

// .player-list tr {
//     border-right: 1px solid rgb(46, 110, 115);
// }
  
.player-list td {
    padding: 8px;
}

.player-list td {
    padding: 4px;
}
  
  
  body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgb(36, 38, 39);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(46, 110, 115);
    outline: 1px solid rgb(73, 110, 110);
  }
  
  div::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgb(36, 38, 39);
  }
  
  div::-webkit-scrollbar-thumb {
    background-color: rgb(46, 110, 115);
    outline: 1px solid rgb(73, 110, 110);
  }
  
.personal-portrait img {
    position: absolute;

    @media (max-width: 800px) {
        display: none;
    }
}

.snapshot-selector {
    margin-top: -60px;
}

@media (max-width: 985px) {
    .snapshot-selector {
        margin-top: 0px;
    }
}

.app-footer {
    z-index: 999;
}

.player-search {
    width: 100%;
    padding-top: 0px;
}

@media (max-width: 276px) {
    .player-search {
        position: inherit;
        padding-top: 0px;
    }
}

.search-pod {
    height: 100px;
    width: 300px;
    padding: 15px;
    background-color: rgba(5,5,5, .15);
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(46, 110, 115);

    div[name=order] {
        margin-top: -10px;
    }
}

.search-pod-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.custom-slider {
    float: left;

    div {
        margin-bottom: 0px !important;
    }
}

.player-search-table th {
    padding-bottom: 8px;
}


@media (max-width: 800px) {
    .player-search-table {
        margin-left: -20px !important;
        margin-right: 20px !important;
    }

    .player-table-container {
        margin-right: -18px;
    }
}


.list-card-container {
    display: block;
    text-align: left;
    color: #eee;
    font-size: 14px;
    background-color: rgba(36, 87, 121, 0.253);
    padding: 10px;
    margin: 20px;
    width: 100%;
    box-shadow: 0px 2px 14px -5px rgba(0,0,0,0.75);
    border: 1px solid rgb(46, 110, 115);
  }
  
  .list-card-container div {
    padding: 2px;
  }
  
  .list-card-container:hover {
    background-color: rgba(44, 108, 150, 0.253);
    cursor: pointer;
  }

  .content-header {
    text-shadow: 1px 1px 2px black;
    padding-top: 10px;
    color: #9DBCD4;
    font-size: 18px;
  }

  .boid-card-container {
    display: flex;
    color: #eee;
    font-size: 14px;
    background-color: rgba(36, 87, 121, 0.253);
    border: 1px solid rgb(46, 110, 115);
    padding: 10px;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 2px 14px -5px rgba(0,0,0,0.75);
    i {
      cursor: move !important;
    }
  }
  
  .boid-card-container div {
    padding: 2px;
  }
  
  .boid-card-container:hover {
    background-color: rgba(44, 108, 150, 0.253);
    cursor: pointer;
  }

  .listButton {
    margin-top: 5px;
    width: fit-content;

    button {
      background: none;
      color: rgba(255, 255, 255, 0.6);
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  .listButton:hover {
    color: #eee;
  }

  .selectedListButton {
    margin-top: 5px;
    width: fit-content;

    button {
      background: none;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  .listButton button {
    color: #4ea9f3;
  }